<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>servlets.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostJobServlet</servlet-name>
        <servlet-class>servlets.PostJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJobServlet</servlet-name>
        <servlet-class>servlets.ApplyJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobSearchServlet</servlet-name>
        <servlet-class>servlets.JobSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>servlets.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobSeekerDashboardServlet</servlet-name>
        <servlet-class>servlets.JobSeekerDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruiterDashboardServlet</servlet-name>
        <servlet-class>servlets.RecruiterDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>servlets.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageJobsServlet</servlet-name>
        <servlet-class>servlets.ManageJobsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editjJob</servlet-name>
        <servlet-class>servlets.EditJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteJobServlet</servlet-name>
        <servlet-class>servlets.DeleteJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateJobServlet</servlet-name>
        <servlet-class>servlets.UpdateJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMyJobList</servlet-name>
        <servlet-class>servlets.LoadMyJobList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminDash</servlet-name>
        <servlet-class>servlets.LoadAdminDash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMyProfile</servlet-name>
        <servlet-class>servlets.LoadMyProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/update-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostJobServlet</servlet-name>
        <url-pattern>/post-job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJobServlet</servlet-name>
        <url-pattern>/applyjob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobSearchServlet</servlet-name>
        <url-pattern>/job-search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobSeekerDashboardServlet</servlet-name>
        <url-pattern>/job-seeker-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruiterDashboardServlet</servlet-name>
        <url-pattern>/recruiter-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageJobsServlet</servlet-name>
        <url-pattern>/manage-jobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editjJob</servlet-name>
        <url-pattern>/edit-job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteJobServlet</servlet-name>
        <url-pattern>/delete-job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateJobServlet</servlet-name>
        <url-pattern>/update-job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMyJobList</servlet-name>
        <url-pattern>/LoadMyJobList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminDash</servlet-name>
        <url-pattern>/LoadAdminDash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMyProfile</servlet-name>
        <url-pattern>/LoadMyProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
